Ref : https://stackoverflow.com/questions/15138614/how-can-i-read-the-contents-of-an-url-with-python

Ref : https://stackoverflow.com/questions/3969726/attributeerror-module-object-has-no-attribute-urlopen

In [39]:
import urllib.request

link = "https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"
f = urllib.request.urlopen(link)
myGenre = f.read()
print(myGenre)

b'{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'

In [6]:
type(myfile)

bytes

# Convert byte format to JSON format
https://stackoverflow.com/questions/40059654/python-convert-a-bytes-array-into-json-format

In [41]:
import json
json_obj_genre = json.loads(myGenre)
json_obj_genre['genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

# Creating Genre dictionary

In [48]:
genre = {}
for i in json_obj_genre['genres']:
    genre[i['id']]= i['name']

In [49]:
genre

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

# Reading the movie data set

In [51]:
link = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471"
f = urllib.request.urlopen(link)
myfile = f.read()
json_obj = json.loads(myfile)
json_obj.keys()
#json_obj['page']

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [52]:
pd.DataFrame(json_obj['results'])['genre_ids']

0                     [27]
1           [9648, 53, 27]
2                 [27, 53]
3              [35, 10751]
4                     [27]
5           [18, 53, 9648]
6             [80, 18, 53]
7                     [53]
8                     [27]
9                 [53, 27]
10           [28, 53, 878]
11                    [35]
12               [27, 878]
13           [35, 18, 878]
14                [27, 53]
15              [53, 9648]
16                [27, 53]
17    [35, 878, 12, 10751]
18         [35, 10749, 18]
19            [27, 53, 35]
Name: genre_ids, dtype: object

In [53]:
pd.DataFrame(json_obj['results'])[['original_title','overview','genre_ids']]

,original_title,overview,genre_ids
0,Pet Sematary II,"The ""sematary"" is up to its old zombie-raising...",[27]
1,Wrecked,A man awakens in a car wreck at the bottom of ...,"[9648, 53, 27]"
2,Deadgirl,When high school misfits Rickie and JT decide ...,"[27, 53]"
3,Home Alone 3,9-year-old Alex Pruitt is home alone with the ...,"[35, 10751]"
4,Slumber,A sleep doctor tries to protect a family from ...,[27]
5,Strangerland,"Newly arrived to a remote desert town, Catheri...","[18, 53, 9648]"
6,Windfall,A man breaks into a tech billionaire's empty v...,"[80, 18, 53]"
7,10 x 10,"Lewis is an outwardly ordinary guy, but in rea...",[53]
8,Bodom,Every camper’s worst nightmare came true at La...,[27]
9,Demonic,A police officer and a psychologist investigat...,"[53, 27]"
10,Arena,David Lord finds himself forced into the savag...,"[28, 53, 878]"
11,Boat Trip,Two guys whose love lives are a wreck look for...,[35]
12,Hellraiser: Bloodline,"In the 22nd century, a scientist attempts to r...","[27, 878]"
13,Downsizing,A kindly occupational therapist undergoes a ne...,"[35, 18, 878]"
14,Girl on the Third Floor,Don Koch tries to renovate a rundown mansion w...,"[27, 53]"
15,Blackway,A young woman newly returned to her hometown b...,"[53, 9648]"
16,Paranormal Activity: The Ghost Dimension,"Using a special camera that can see spirits, a...","[27, 53]"
17,Meet Dave,A crew of miniature aliens operate a spaceship...,"[35, 878, 12, 10751]"
18,Scusa ma ti voglio sposare,"Second part of the film ""Sorry if I love you""....","[35, 10749, 18]"
19,All Cheerleaders Die,"When tragedy rocks Blackfoot High, rebellious ...","[27, 53, 35]"

In [58]:
for i in json_obj['results']:
    print(i['genre_ids'])
    for j in i['genre_ids']:
        for k in genre.keys():
            if i['genre_ids'][j] == genre

[27]
[9648, 53, 27]
[27, 53]
[35, 10751]
[27]
[18, 53, 9648]
[80, 18, 53]
[53]
[27]
[53, 27]
[28, 53, 878]
[35]
[27, 878]
[35, 18, 878]
[27, 53]
[53, 9648]
[27, 53]
[35, 878, 12, 10751]
[35, 10749, 18]
[27, 53, 35]