Ref : https://stackoverflow.com/questions/15138614/how-can-i-read-the-contents-of-an-url-with-python

Ref : https://stackoverflow.com/questions/3969726/attributeerror-module-object-has-no-attribute-urlopen

In [39]:
import urllib.request

link = "https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"
f = urllib.request.urlopen(link)
myGenre = f.read()
print(myGenre)

b'{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'

In [6]:
type(myfile)

bytes

# Convert byte format to JSON format
https://stackoverflow.com/questions/40059654/python-convert-a-bytes-array-into-json-format

In [41]:
import json
json_obj_genre = json.loads(myGenre)
json_obj_genre['genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

# Creating Genre dictionary

In [48]:
genre = {}
for i in json_obj_genre['genres']:
    genre[i['id']]= i['name']

In [49]:
genre

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

# Reading the movie data set

In [51]:
link = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471"
f = urllib.request.urlopen(link)
myfile = f.read()
json_obj = json.loads(myfile)
json_obj.keys()
#json_obj['page']

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [67]:
pd.DataFrame(json_obj['results'])['genre_ids']

0                                         [Horror]
1                      [Mystery, Thriller, Horror]
2                               [Horror, Thriller]
3                                 [Comedy, Family]
4                                         [Horror]
5                       [Drama, Thriller, Mystery]
6                         [Crime, Drama, Thriller]
7                                       [Thriller]
8                                         [Horror]
9                               [Thriller, Horror]
10             [Action, Thriller, Science Fiction]
11                                        [Comedy]
12                       [Horror, Science Fiction]
13                [Comedy, Drama, Science Fiction]
14                              [Horror, Thriller]
15                             [Thriller, Mystery]
16                              [Horror, Thriller]
17    [Comedy, Science Fiction, Adventure, Family]
18                        [Comedy, Romance, Drama]
19                      [Horror, Thriller, Comedy]
Name: genre_ids, dtype: object

# Below snippet of code coverted the genre codes to actual values

In [66]:
for i in json_obj['results']:
    #print(i['genre_ids'])
    for j in range(len(i['genre_ids'])):
        for k in genre.keys():
            if i['genre_ids'][j] == k:
                i['genre_ids'][j] = genre[k]

# Expected DataSet

In [70]:
df = pd.DataFrame(json_obj['results'])[['original_title','overview','genre_ids']]

In [71]:
df.sample(5)

,original_title,overview,genre_ids
16,Paranormal Activity: The Ghost Dimension,"Using a special camera that can see spirits, a...","[Horror, Thriller]"
10,Arena,David Lord finds himself forced into the savag...,"[Action, Thriller, Science Fiction]"
2,Deadgirl,When high school misfits Rickie and JT decide ...,"[Horror, Thriller]"
7,10 x 10,"Lewis is an outwardly ordinary guy, but in rea...",[Thriller]
14,Girl on the Third Floor,Don Koch tries to renovate a rundown mansion w...,"[Horror, Thriller]"

# Renaming The Genre Column

Ref : https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas

In [73]:
df.rename({'genre_ids': 'genre'}, axis=1,inplace=True)

In [74]:
df.sample(5)

,original_title,overview,genre
3,Home Alone 3,9-year-old Alex Pruitt is home alone with the ...,"[Comedy, Family]"
16,Paranormal Activity: The Ghost Dimension,"Using a special camera that can see spirits, a...","[Horror, Thriller]"
7,10 x 10,"Lewis is an outwardly ordinary guy, but in rea...",[Thriller]
19,All Cheerleaders Die,"When tragedy rocks Blackfoot High, rebellious ...","[Horror, Thriller, Comedy]"
5,Strangerland,"Newly arrived to a remote desert town, Catheri...","[Drama, Thriller, Mystery]"