Ref : https://stackoverflow.com/questions/15138614/how-can-i-read-the-contents-of-an-url-with-python

Ref : https://stackoverflow.com/questions/3969726/attributeerror-module-object-has-no-attribute-urlopen

In [2]:
import urllib.request

link = "https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"
f = urllib.request.urlopen(link)
myGenre = f.read()
print(myGenre)

b'{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'

In [3]:
type(myfile)

NameError: name 'myfile' is not defined

# Convert byte format to JSON format
https://stackoverflow.com/questions/40059654/python-convert-a-bytes-array-into-json-format

In [4]:
import json
json_obj_genre = json.loads(myGenre)
json_obj_genre['genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

# Creating Genre dictionary

In [5]:
genre = {}
for i in json_obj_genre['genres']:
    genre[i['id']]= i['name']

In [6]:
genre

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

# Reading the movie data set

In [7]:
link = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471"
f = urllib.request.urlopen(link)
myfile = f.read()
json_obj = json.loads(myfile)
json_obj.keys()
#json_obj['page']

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [13]:
import pandas as pd
pd.DataFrame(json_obj['results'])['genre_ids']

0                                         [Horror]
1                      [Mystery, Thriller, Horror]
2                               [Horror, Thriller]
3                                 [Comedy, Family]
4                                         [Horror]
5                       [Drama, Thriller, Mystery]
6                         [Crime, Drama, Thriller]
7                                       [Thriller]
8                                         [Horror]
9                               [Thriller, Horror]
10             [Action, Thriller, Science Fiction]
11                                        [Comedy]
12                       [Horror, Science Fiction]
13                [Comedy, Drama, Science Fiction]
14                              [Horror, Thriller]
15                             [Thriller, Mystery]
16                              [Horror, Thriller]
17    [Comedy, Science Fiction, Adventure, Family]
18                        [Comedy, Romance, Drama]
19                      [Horror, Thriller, Comedy]
Name: genre_ids, dtype: object

# Below snippet of code coverted the genre codes to actual values

In [14]:
for i in json_obj['results']:
    #print(i['genre_ids'])
    for j in range(len(i['genre_ids'])):
        for k in genre.keys():
            if i['genre_ids'][j] == k:
                i['genre_ids'][j] = genre[k]

# Expected DataSet

In [15]:
df = pd.DataFrame(json_obj['results'])[['original_title','overview','genre_ids']]

In [16]:
df.sample(5)

,original_title,overview,genre_ids
19,All Cheerleaders Die,"When tragedy rocks Blackfoot High, rebellious ...","[Horror, Thriller, Comedy]"
13,Downsizing,A kindly occupational therapist undergoes a ne...,"[Comedy, Drama, Science Fiction]"
17,Meet Dave,A crew of miniature aliens operate a spaceship...,"[Comedy, Science Fiction, Adventure, Family]"
10,Arena,David Lord finds himself forced into the savag...,"[Action, Thriller, Science Fiction]"
11,Boat Trip,Two guys whose love lives are a wreck look for...,[Comedy]

# Renaming The Genre Column

Ref : https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas

In [17]:
df.rename({'genre_ids': 'genre'}, axis=1,inplace=True)

In [18]:
df.sample(5)

,original_title,overview,genre
8,Bodom,Every camper’s worst nightmare came true at La...,[Horror]
16,Paranormal Activity: The Ghost Dimension,"Using a special camera that can see spirits, a...","[Horror, Thriller]"
19,All Cheerleaders Die,"When tragedy rocks Blackfoot High, rebellious ...","[Horror, Thriller, Comedy]"
5,Strangerland,"Newly arrived to a remote desert town, Catheri...","[Drama, Thriller, Mystery]"
9,Demonic,A police officer and a psychologist investigat...,"[Thriller, Horror]"

# Lowercasing the overview text

In [21]:
df['overview'] = df['overview'].str.lower()

In [22]:
df.sample(5)

,original_title,overview,genre
2,Deadgirl,when high school misfits rickie and jt decide ...,"[Horror, Thriller]"
8,Bodom,every camper’s worst nightmare came true at la...,[Horror]
12,Hellraiser: Bloodline,"in the 22nd century, a scientist attempts to r...","[Horror, Science Fiction]"
10,Arena,david lord finds himself forced into the savag...,"[Action, Thriller, Science Fiction]"
3,Home Alone 3,9-year-old alex pruitt is home alone with the ...,"[Comedy, Family]"

In [23]:
df['overview'][0]

'the "sematary" is up to its old zombie-raising tricks again. this time, the protagonists are jeff matthews, whose mother died in a hollywood stage accident, and drew gilbert, a boy coping with an abusive stepfather.'

# Html tag removal and URL Removal

As of now we cannot see any HTML Tags or URLs. We will check this step again after tokenizing the texts.

# Remove punctuations

In [25]:
import string,time

In [26]:
exclude = string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
def remove_punctuations(text):
    exclude = string.punctuation
    return text.translate(str.maketrans('','',exclude))

In [32]:
df['overview'] = df['overview'].apply(remove_punctuations)

# Chat word Treatment

As this data is not pulled from any chatting media, we need not to work on this as of now.
We will check back again after tokenizing the words.

# Spelling correction

In [34]:
#Installing textblob
!pip install -U textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/44/a4/595b66c1342a830f4ff476307c4367541cce3e361b9ee96d22a5eeeddd1d/textblob-0.17.1-py2.py3-none-any.whl (636kB)
Requirement already satisfied, skipping upgrade: nltk>=3.1; python_version >= "3" in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.4.4)
Requirement already satisfied, skipping upgrade: six in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1; python_version >= "3"->textblob) (1.12.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [36]:
from textblob import TextBlob
'''
Step 1 : Create a textblob object by instantiating the TextBlob class along with the text as an argument.
Step 2 : <object>.correct().string

'''
def spellcorrect(text):
    textblob = TextBlob(text)
    return textblob.correct().string

In [40]:
df['overview'] = df['overview'].apply(spellcorrect)

# Removing stopwords

In [46]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     D:\Users\RSil1\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [47]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [62]:
def remove_stopwords(text):
    clean_text = []
    for word in text.split(' '):
        if word in stopwords.words('english'):
            clean_text.append('')
        else:
            clean_text.append(word)
    return ' '.join(clean_text)

In [65]:
df['overview'] = df['overview'].apply(remove_stopwords)

# Handling emojis

# Tokennization

In [73]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     D:\Users\RSil1\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [74]:
from nltk import tokenize
def word_tokenize(text):
    return tokenize.word_tokenize(text)

def sent_tokenize(text):
    return tokenize.sent_tokenize(text)

In [75]:
df['overview_word_tokens'] = df['overview'].apply(word_tokenize)
df['overview_sent_tokens'] = df['overview'].apply(sent_tokenize)

In [76]:
df.head()

,original_title,overview,genre,overview_word_tokens,overview_sent_tokens
0,Pet Sematary II,seminary old zombieraising tricks time ...,[Horror],"[seminary, old, zombieraising, tricks, time, p...",[ seminary old zombieraising tricks time...
1,Wrecked,man awaken car wreck bottom steep cliff...,"[Mystery, Thriller, Horror]","[man, awaken, car, wreck, bottom, steep, cliff...",[ man awaken car wreck bottom steep clif...
2,Deadgirl,high school visits rice decide ditch schoo...,"[Horror, Thriller]","[high, school, visits, rice, decide, ditch, sc...",[ high school visits rice decide ditch scho...
3,Home Alone 3,9yearold flex print home alone chicken pox ...,"[Comedy, Family]","[9yearold, flex, print, home, alone, chicken, ...",[9yearold flex print home alone chicken pox...
4,Slumber,sleep doctor tries protect family demon ...,[Horror],"[sleep, doctor, tries, protect, family, demon,...",[ sleep doctor tries protect family demon ...

# Lemmatization